In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
#Load the dataset
flight = pd.read_csv(os.path.join('Resources', 'CombinedPaxDelay3.csv'))
flight.head()

,Airline,Year,Month,TOT_Flights,TOT_Passengers,Difference,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,label
0,101,2009,1,58249,6693592,0,612.04,127.27,35.60,12.71,44.55,0.09,34.31,21.38,1.50,Increase
1,101,2010,1,57387,6695224,1632,589.51,103.08,35.68,5.26,35.17,0.28,26.69,14.63,1.65,Increase
2,101,2011,1,57344,6706040,10816,591.68,98.90,34.88,6.12,31.13,0.01,26.75,19.10,1.26,Increase
3,101,2012,1,55706,6769841,63801,533.30,77.40,27.95,3.82,27.86,0.13,17.65,8.76,1.13,Increase
4,101,2013,1,56892,6977376,207535,546.93,101.11,32.02,4.04,31.33,0.19,33.53,10.52,1.15,Increase

In [5]:
# Assign X (data) and y (target)
X = flight.drop("label", axis=1)
y = flight["label"]
print(X.shape, y.shape)

(542, 15) (542,)

Split our data into training and testing

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle = True, test_size=0.33, random_state=42, stratify=y)

Create a Logistic Regression Model

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#scalar = StandardScaler().fit(X_train)
#X_train_scaled = scalar.transform(X_train)
#X_test_scaled = scalar.transform(X_test)

Fit (train) or model using the training data

In [8]:
classifier.fit(X_train, y_train)

C:\Users\mcala\Anaconda3\envs\tensorflow_env\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

Validate the model using the test data

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9449035812672176
Testing Data Score: 0.9497206703910615

Make predictions

In [10]:
predictions = classifier.predict(X_test)
print(f"First 20 Predictions:   {predictions[:20]}")
print(f"First 20 Actual labels: {y_test[:20].tolist()}")

First 20 Predictions:   ['Increase' 'Increase' 'Increase' 'Increase' 'Increase' 'Increase'
 'Increase' 'Increase' 'Decrease' 'Increase' 'Increase' 'Increase'
 'Increase' 'Increase' 'Increase' 'Decrease' 'Increase' 'Increase'
 'Increase' 'Increase']
First 20 Actual labels: ['Increase', 'Increase', 'Increase', 'Increase', 'Increase', 'Increase', 'Increase', 'Decrease', 'Decrease', 'Increase', 'Increase', 'Increase', 'Increase', 'Increase', 'Increase', 'Decrease', 'Increase', 'Increase', 'Increase', 'Increase']

In [11]:
df = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
df.head()

  Prediction    Actual
0   Increase  Increase
1   Increase  Increase
2   Increase  Increase
3   Increase  Increase
4   Increase  Increase

In [12]:
df.to_csv('results.csv')

In [13]:
#Load the 2019 dataset 
fl2019 = pd.read_csv(os.path.join('..', 'Resources', 'ForPred2018.csv'))
fl2019.head()

,Airline,Year,Month,TOT_Flights,TOT_Passengers,Difference,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted
0,103,2018,1,28647,3162299,-124316,388.61,84.72,39.43,2.09,26.44,0.31,40.69,22.98,1.09
1,103,2018,2,27333,3078400,147361,356.98,84.72,30.83,0.54,24.20,0.17,28.28,5.59,1.08
2,103,2018,3,30278,3655332,176106,414.06,84.72,43.36,1.50,30.68,0.43,44.77,26.61,0.88
3,103,2018,4,30971,3613440,160642,403.69,84.72,39.94,1.65,34.72,0.24,47.50,5.17,1.42
4,103,2018,5,31533,3648011,247395,384.25,84.72,36.10,1.24,29.78,0.23,38.00,4.78,1.29

In [15]:
predictions2019 = classifier.predict(fl2019)
print(f"First 8 Predictions:   {predictions2019[:8]}")
#print(f"First 8 Actual labels: {y_test[:8].tolist()}")

First 8 Predictions:   ['Decrease' 'Increase' 'Increase' 'Increase' 'Increase' 'Increase'
 'Increase' 'Increase']